<footer>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <!-- <h1 class = "display-6 navbar-text">&copy;2023 All right reserved.</h1>  -->
      <h1 class = "navbar-brand">&copy;2023 All right reserved.</h1>
    </div>
  </nav>
</footer>
